header {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7665603f-28c2-4844-a8d1-ddf3e0debf55/dluetxl-914fce78-0c96-4148-8e99-e5f6674b1bbf.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi83NjY1NjAzZi0yOGMyLTQ4NDQtYThkMS1kZGYzZTBkZWJmNTUvZGx1ZXR4bC05MTRmY2U3OC0wYzk2LTQxNDgtOGU5OS1lNWY2Njc0YjFiYmYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8acyoQcaFUkeI7XgZbV3ORc-suW5Wd5LBW62FXAW2SA);
    background-color: yellow;
    text-align: center;
}
